html, body {
    /* height: 100vh; */
    margin: 0;
    font-family: 'Monteserrat', sans-serif;
  }

  .main-content{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  } 


  .add-expense-button-class{
    display: flex;
    justify-content:end;
    padding: 10%;
  }
  .add-expense-button{
    background-color: #04AA6D;
    border: none;
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    width:80px;
    height:80px;
    border-radius: 50%;
    float: right;
  }